{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier"
    // "prettier/react",
    // "prettier/@typescript-eslint"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "jsx-a11y",
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "**/*.spec.js", "./webpack/*"]
      }
    ],
    "@typescript-eslint/semi": ["error"],
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "no-plusplus": 0,
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "no-var": "error"
  },
  "ignorePatterns": ["node_modules/*", "scripts/*"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx", ".js", ".jsx"]
    },
    "import/ignore": ["types"]
    // "import/resolver": {
    //   "alias": []
    // }
  }
}
